body{
    margin: 0;
    font-family: 'Merriweather', serif;
    
}
.top-container{
    background-color: #E4F9F5;
    height: 670px;
    width: 100%;
    padding-top: 100px;
    justify-content: center;
    text-align: center;
    
    
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
}

h1{
    font-family: 'sacramento',sans-serif;
    font-size: 80px;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
    color: #66BFBF;
}
h2 span{
    text-decoration: underline;
}
h3{
    font-size: 1.17em;
    font-family: 'Montserrat',sans-serif;
    color: #11999E;
}
p{
    line-height: 2;
    font-size: 1em;
}
hr{
    border-style: none;
    border-top: 6px dotted #EAF6F6;
    width: 60px;
}

.main-container{
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 100px 0;
}
.skills{
    text-align: center;
    
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skill-row p{

    text-align: left;
}
.skill-row img {
    margin-right: 30px;
    width: 25%;
}
.skill-row .main-gif{
    float: left;
}
.skill-row .main-chillies{
    float: right;
}
.contact{
    text-align: center;   
}
.contact-message{
    margin: 30px auto 60px;
    width:40%
}
.button{
    background-color: #11cdd4;;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: fff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}
.footer{
    background-color: #66BFBF;;
    text-align: center;
    padding: 50px 0 20px;
}
.footer-link a{
    
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    margin:20px;
    text-decoration: none;
}
.footer-link a:visited{
    color: #11999E;
    
}
.footer-link a:hover{
    color: #11999E;
    
}
.copyright{
    font-size: 0.75rem;
    color: #EAF6F6;
    padding: 20px 0;
}